body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #a3a3a3;
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #a3a3a3;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-container {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-name {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s, text-shadow 0.2s;
}

.brand-name:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgb(163, 163, 163);
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 0.5rem;
}

.nav-links a {
    color: #dfdfdf;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 40px;
    border-radius: 0.6rem;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
    background-color: #c2c2c2;
    color: #a3a3a3;
}

/* Hero section styles */
.hero {
    background-size: cover;
    background-position: center;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: visible;
    z-index: 1;
    margin-bottom: 2rem;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(107, 107, 107);
}

.hero-content {
    height: 15rem;
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.cta-button {
    background-color: #a3a3a3;
    color: #ffffff;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #929292;
    transform: translateY(-5px);
}

/* Info container styles */
/* .info-container {
    max-width: 80rem;
    margin: 20px auto;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 20px;
}

.info-image {
    flex: 3;
}

.info-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    display: block;
}

.info-text {
    flex: 1;
    font-size: 1.2rem;
    color: #333;
}

.showcase1container {
    max-width: 80rem;
    display: flex;
    justify-content: center;
}

.showcasephoto {

}

.showcaseinternal {
    max-width: 10rem;
}

.showcasetext {
    color: black;
} */



/* Style for the BestBrands container */
.BestBrands {
    display: flex;
    width: 80%;
    max-width: 100rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.bestbrandsD1 {
    width: 35%;
    padding: 20px;
    padding-bottom: 5rem;
    box-sizing: border-box;
    /* background-color: #f4f4f4; */
    color: #ffffff;
    font-size: 1rem;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.bbtitle1 {
    font-size: 4rem;
    margin-bottom: -20px;
}

.bbtext1 {
    font-size: 2rem;
    margin-bottom: -0.6rem;
}

.options1 {
    font-size: 2rem;
}

.options2 {
    font-size: 1.2rem;
}

.divider1,
.divider2 {
    border: none;
    height: 0.3rem;
    background-color: #ffffff;
    margin: 30px 0;
    border-radius: 0.2rem;
}

.bestbrandsD2 {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 18px;
    box-sizing: border-box;
    color: #000;
}

.bbcard1,
.bbcard2,
.bbcard3 {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    box-sizing: border-box;
    padding: 20px;
    border: 3px solid #e6e6e6;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.bbcard1 {
    background-color: #a3a3a3;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 580px;
}

.bbcard1 h1 {
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.bbcard1 p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: auto;
}

.bbcard1 button {
    display: block;
    width: 100%;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 0.6rem;
    background-color: #ff1534;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bbcard1 button:hover {
    background-color: #ffffff;
    color: #ff1534;
}

.bbcard2 {
    background-color: rgb(135, 135, 135);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 580px;
}

.bbcard2 h1 {
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.bbcard2 p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: auto;
}

.bbcard2 button {
    display: block;
    width: 100%;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 0.6rem;
    background-color: #ff1534;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bbcard2 button:hover {
    background-color: #ffffff;
    color: #ff1534;
}

.bbcard3 {
    background-color: rgb(107, 107, 107);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    height: 580px;
}

.bbcard3 h1 {
    margin: 0;
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.bbcard3 p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: auto;
}

.bbcard3 button {
    display: block;
    width: 100%;
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 0.6rem;
    background-color: #ff1534;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.bbcard3 button:hover {
    background-color: #ffffff;
    color: #ff1534;
}

.mostbuyedcars {
    background-color: rgb(107, 107, 107);
    padding-bottom: 4.2rem;
    margin-bottom: 10rem;
    position: relative;
}

.mbc-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
}

.mbc1 h2 {
    color: white;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 0rem;
    font-weight: bold;
}

.mbc1 p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-weight: bold;
}

/* Scrollbar Styles */
.card-container::-webkit-scrollbar {
    width: 16px;
    /* Thicker width for the vertical scrollbar */
    height: 12px;
    /* Thicker height for the horizontal scrollbar */
}


.card-container::-webkit-scrollbar-track {
    background: #d1d1d1;
    border-radius: 10px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #ff1534;
    border-radius: 10px;
    border: 4px solid #d1d1d1;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background-color: #ff4064;
}

.card-container {
    scrollbar-width: thin;
    scrollbar-color: #ff1534 #d1d1d1;
}

.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1rem 4rem;
}

.card {
    background-color: #a3a3a3;
    width: 22.6rem;
    height: 18rem;
    padding: 0.6rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-shrink: 0;
    /* Prevent shrinking */
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 20px #ff1534;
}

.card img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card h3 {
    color: #ffffff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    margin: 0.2rem 0 0rem 0;
    margin-left: 0.6rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.card p {
    margin: 0rem 0;
    margin-left: 0.6rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 1rem;
    color: #ffffff;
    text-align: left;
}